ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbar {
    float: left;
}

.bootstrap-select .btn{
 width:200px !important;

}

.bootstrap-select .dropdown-menu{
  min-width:180px !important;
}

#update{
  opacity: 0.5;
  margin-left: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  min-width:170px !important;
}

#clear{
  background-color:#da1d00;
  margin-left: 16px;
  border: none;
  color:black;
  min-width:170px !important;
}

#bootstrap-override {
  display: block;
  color: black;
  text-align: center;
  height: 45px;
  text-decoration: none;
}

/* .navbar {
    display: block;
    color: white;
    text-align: center;
    height: 5px;
    text-decoration: none;
} */

a.navbar:hover:not(.active) {
    background-color: black
}

.active {
    color: white;
    background-color: black;
    font-family: 'Gugi', cursive;
    font-size: 16px;
}

.box{
  rx:20;
  width:200 ;
  height: 100;
  fill:#44bded;
  opacity:0.5;
}
.textbox{
  font-family: Helvetica;
  font-size:15;
  fill:black;
  word-wrap: break-word;
}
.header{
  color:black;
}

.feedback{
  float: center;
  color: white;
}

.milklogo{
float:left;
padding: 8px;
width:-10%;
height:-10%;

}
.invisible{
  display:none;
}

#alert-space{
  height:40px;
}
#rect-space{
  height:40px;
}
